body {
    background-color: #e8e8e8;
    min-height: 100%;
    padding: 0px;
    margin: 0px;
}

.background-image {
    background: linear-gradient(rgba(220, 231, 117, 1), rgba(220, 231, 117, 1)), url(tecnologia.png);
    /*background-image: url(tecnologia.png);*/
}

.container-products {
    margin: 0px 100px;
}

.brand-logo {
    margin: 0px 0px 0px 20px;
}

nav ul li a {
    color: black;
}

#card-entretenimiento h3 {
    color: #3e2723;
}

#card-entretenimiento h5 {
    color: #795548;
}

#card-tecnologia h3 {
    color: #ffd54f;
}

#card-tecnologia h5 {
    color: white;
}

#card-belleza h3 {
    color: #ffd54f;
}

#card-belleza h5 {
    color: white;
}

#card-infantil h3 {
    color: #3e2723;
}

#card-infantil h5 {
    color: #795548;
}

#principal-nav a {
    color: black;
}

#card-hogar h3 {
    color: #3e2723;
}

#card-hogar h5 {
    color: #795548;
}

#first-photo-slides {
    /*background: linear-gradient(rgba(62, 39, 35, 0.9), rgba(62, 39, 35, 0.1)), url(slides-foto1.jpg);*/
    background-image: url(slides-foto1.jpg);
}

#second-photo-slides {
    background-image: url(slides-foto2.jpg);
}

#third-photo-slides {
    background-image: url(slides-foto3.jpg);
}

#fourth-photo-slides {
    background-image: url(slides-foto4.jpg);
}

.parallax-container {
    height: 400px;
    width: 100%;
}

#gender-options a.active {
    border-bottom: 2px solid black;
    color: black;
    font-weight: bold;
}

footer {
    margin-top: 10px;
    bottom: 0px;
}

.grid-item {
    width: 300px;
}

.grid-item--width2 {
    width: 350px;
}

.grid-item--width3 {
    width: 280px;
}

.grid .card{
    margin: 10px;
    background-color: #f9fbe7;
}

#primera .pinned,
#segunda .pinned{
    position: relative;
    z-index: 997;
    height: 64px;
}

.brand-logo{
    color: black;
}

.carousel-slider .card {
    margin: 60px 20px 0px 0px;
}

#blockis {
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    left: 8%;
    right: 8%;
}

#blockrc {
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    left: 8%;
    right: 8%;
}

html{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#isbl{
    padding: 20px 0 20px 0;
    font-size: 30px;
    box-shadow: 0px 1px 20px dimgrey;
}

#sombra{
    box-shadow: 0px 1px 20px dimgrey;
}

#titleis{
    margin: 0;
    padding-bottom: 0px;
    font-size: 30px;
}

#advise{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0px;
    font-size: 25px;
    color: lightgrey;
    font-weight: 500;
    text-align: center;
    text-justify: inter-word;
}

#aviso{
    padding-top: 31%;
}

#delete{
    margin-top: 30px;
}

#titleis2{
    margin: 0;
    padding-bottom: 0px;
    font-size: 30px;
    color: white;
    font-weight: 500;
}

#subtitleis{
    margin: 0;
    padding-bottom: 0px;
    color: darkgray;
    font-size: 15px;
}

#subtitleis2{
    margin: 0;
    padding-bottom: 0px;
    color: whitesmoke;
    font-size: 15px;
    font-style: italic;
}

#personas{
    font-size: 70px;
    padding: 0;
}

#cardp{
    padding: 0;
    padding-bottom: 10px;
}

#cardpa{
    padding: 0;
    padding-bottom: 20px;
    display: none; 
}

#cardpb{
    padding: 0;
    padding-bottom: 5.8cm;
    background-color: #d87d8c;
    display: none;
}

#cardtop{
    background-color: #C0CA33;
    padding-top: 20px;
    margin-bottom: 0;
}

#datos{
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
    color: dimgray;
}

#datos2{
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
    color: dimgray;
}

#data{
    padding: 0px;
    font-size: 15px;
    font-style: italic;
    color: gray;
}

#datatitle{
    margin-bottom: 0px;
}

#dataset{
    padding-bottom: 20px;
    margin-bottom: 0;
}

#puntos{
    padding: 0px;
}

#points{
    margin-bottom: 0px;
    margin-left: 206px;
    margin-right: 100px; 
    padding: 0px;
}

#pointstitle{
    padding-right: 0px;
    padding-left: 50px;
    background-color: lightcoral;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-color: #f26d6d;
    border-style: solid;
    border-width: 4px 0px 4px 4px;
}

#pointscount{
    padding-left: 20px;
    padding-right: 50px;
    background-color: lightcoral;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border-color: #f26d6d;
    border-style: solid;
    border-width: 4px 4px 4px 0px;
}

#p1{
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 900;
    color: aliceblue;
    font-size: 15px;
}

#p2{
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    color: gray;
    font-weight: 900;
}

#comprastext{
    margin: 50px 0px 50px 0px;
    font-size: 75px;
}

#compras{
    height: 150px;
    width: 150px;
    background-color: #85d67c;
    margin-bottom: 30px;
}

#editartext{
    margin: 33px 0px 40px 0px;
    font-size: 60px;
}

#editar{
    height: 120px;
    width: 120px;
    background-color: #889fe8;
    margin-bottom: 30px;
}

#editar2{
    height: 120px;
    width: 120px;
    background-color: #889fe8;
    margin-bottom: 30px;
}

#borrartext{
    margin: 19px 0px 30px 0px;
    font-size: 45px;
}

#borrar{
    height: 90px;
    width: 90px;
    background-color: #d87d8c;
}

#borrar2{
    height: 90px;
    width: 90px;
    background-color: #d87d8c;
}

#bloque{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 0;
}

#opciones{
    margin-top: 14%;
}

#comprastext2{
    margin: 50px 0px 50px 0px;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
    display: none;
    
}

#editartext2{
    margin: 33px 0px 40px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
    display: none;
}

#editartext3{
    margin: 33px 0px 40px 0px;
    font-size: 60px;
    display: none;
}

#editartext4{
    margin: 33px 0px 40px 0px;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
}

#borrartext2{
    margin: 19px 0px 30px 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
    display: none;
}

#borrartext3{
    margin: 19px 0px 30px 0px;
    font-size: 45px;
    display: none;
}
    
#borrartext4{
    margin: 19px 0px 30px 0px;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
}

#compras:hover #comprastext{
    display: none;
}

#compras:hover #comprastext2{
    display: block;
}

#editar:hover #editartext{
    display: none;
}

#editar:hover #editartext2{
    display: block;
}

#editar2:hover #editartext4{
    display: none;
}

#editar2:hover #editartext3{
    display: block;
}

#borrar:hover #borrartext{
    display: none;
}

#borrar:hover #borrartext2{
    display: block;
}

#borrar2:hover #borrartext4{
    display: none;
}

#borrar2:hover #borrartext3{
    display: block;
}

#cuerpo{
    background-image: url(Background.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: 100% 100%;
}

#btn22{
    display: none;
}

#btn32{
    display: none;
}